@model Cumulative1.Models.Student

@{
    ViewBag.Title = "Show";
}

<h2>@Model.StudentFname @Model.StudentLname</h2>
<ul>
    <li>Student Number: @Model.StudentNumber </li>
    <li>Enrol Date: @Model.EnrolDate</li>
</ul>
